%h1 Seasons

- unless @seasons.empty?
	%table
		%tr
			%th number
			%th first shown
			%th
			%th
			%th
		- @seasons.each	do |season|
			%tr
				%td= season.number
				%td= season.year
				%td= link_to "Episodes", season_episodes_path(season)
				- if user_signed_in?
					%td= link_to "Edit", edit_season_path(season)
					%td= link_to "Destroy", season, method: :delete, 
																							confirm: "Are you sure?"

- if user_signed_in?
	= link_to "Add a new season", new_season_path