= render partial: "home/season", collection: seasons

%h3= "Season #{season.number}: Episodes"
- if user_signed_in?
	= link_to "Add a new episode", new_season_episode_path(season)

- unless season.episodes.empty?
	%table
		%tr
			%th.column_title Number
			%th.column_title Title
			%th.admin_col
			%th.admin_col
		= render season.episodes