%h1 Cast and Crew

- unless @participants.empty?
	%h2 Cast
	- unless @cast.empty?
		%table
			%tr
				%th Character
				%th Actor's name
				%th
				%th
				%th
			- @cast.each do |cast|
				%tr
					%td= cast.role
					&td= cast.full_name
					%td= link_to "Show", participant_path(cast)
					%td= link_to "Edit", edit_participant_path(episode)
					%td= link_to "Delete", cast, method: :delete,
																				confirm: "Are you sure?"
	%h2 Crew
	- unless @crew.empty?
		%table
			%tr
				%th Position
				%th Name
				%th
				%th
				%th
			- @crew.each do |crew|
				%tr
					%td= crew.role
					%td= crew.full_name
					%td= link_to "Show", participant_path(crew)
					%td= link_to "Edit", edit_participant_path(crew)
					%td= link_to "Delete", crew, method: :delete,
																				confirm: "Are you sure?"
																				
= link_to "Add a new cast/crew member", new_episode_participant_path(@episode)