- content_for :sidebar do
	%p
		.field_label Name:
		= "#{participant.first_name} #{participant.surname}"
	%p
		.field_label Role:
		= participant.role
%p
	.field_label Biography:
	= participant.biography
%p
	.field_label Appeared in episodes:
	- episodes.each do |episode|
		= episode.title

- if user_signed_in?	
	= link_to "Edit", edit_participant_path(participant)