- content_for :sidebar do
	%p
		.field_label Name:
		= full_name(participant)
	%p
		.field_label Role:
		= participant.role
%p
	.field_label Biography:
	= participant.biography
%p
	.field_label Appeared in episodes:
	- episodes.each do |episode|
		= episode.title
%br

	= link_to "Back to episode", episode_path(participant.episodes)
- if user_signed_in?	
	= link_to "Edit", edit_participant_path(participant)