%h1 Episodes

- unless @episodes.empty?
	%table
		%tr
			%th number
			%th title
			%th
			%th
		- @episodes.each do |episode|
			%tr
				%td= episode.number
				%td= link_to "#{episode.title}", episode_path(episode)
				- if user_signed_in?
					%td= link_to "Edit", edit_episode_path(episode)
					%td= link_to "Destroy", episode, method: :delete, 
																					confirm: "Are you sure?"

- if user_signed_in?
	= link_to "Add a new episode", new_season_episode_path(@season)