%h1 Episodes

- unless @episodes.empty?
	%table
		%tr
			%th number
			%th title
			%th
			%th
			%th
		- @episodes.each do |episode|
			%tr
				%td= episode.number
				%td= episode.title
				%td= link_to "Show", episode_path(episode)
				%td= link_to "Edit", edit_episode_path(episode)
				%td= link_to "Destroy", episode, method: :delete, 
																				confirm: "Are you sure?"

= link_to "Add a new episode", new_season_episode_path(@season)