- content_for :sidebar do
	%p
		.field_label Episode:
		= episode.number
	%p 
		.field_label Title:
		= episode.title
	%p
		.field_label First Shown
		= episode.first_shown
%p
	.field_label Synopsis
	= episode.synopsis

- session[:episode_id] = episode.id

- unless actors.empty?
	%h3 Cast
	%table
		%tr
			%th Character
			%th Actor's name
			%th
			%th
		= render partial: "actor", collection: actors

- unless artisans.empty?
	%h3 Crew
	%table
		%tr
			%th Position
			%th Name
			%th
			%th
		= render partial: "artisan", collection: artisans

- if user_signed_in?
	= link_to "Add cast or crew", new_episode_participant_path(episode)