!!!
%html
	%head
		%title= "Homicide Life on the Street | #{@page_title}"
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body{ class: controller.controller_name }
		#banner
			= image_tag("sign.jpg")
			.banner_title Homicide Life on the Street
			.navigation_links
				= link_to "home", root_path
				\|
				= link_to "Seasons", seasons_path
		#main_content
			#columns
				#side
				#main
					= yield