!!!
%html
	%head
		%title= "Homicide Life on the Street | #{@page_title}"
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body{ class: controller.controller_name }
		#banner
			= image_tag("sign.jpg")
			.banner_title Homicide Life on the Street
		#main_content
			#columns
				#side
					.navigation_links
						= link_to "Home", root_path
						%br
						= link_to "Seasons", seasons_path
						%br
						- if user_signed_in?
							= link_to "Logout", destroy_user_session_path, method: :delete
						- else
							= link_to "Admin - login", user_session_path
				#main
					- if notice
						%p#notice= notice
					= yield
					= debug(params) if Rails.env.development?