!!!
%html
	%head
		%title= name
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body{ class: controller.controller_name }
		#banner
			= link_to image_tag("sign.jpg"), root_path
			.banner_title Homicide Life on the Street
			.navigation_links
				%br
				- if user_signed_in?
					= link_to "Logout", destroy_user_session_path, method: :delete
				- else
					= link_to "Admin - login", user_session_path
		#main_content
			#columns
				#side
					= yield :sidebar
				#main
					- if flash.notice
						#notice= flash.notice
					- if flash.alert
						#alert= flash.alert
					= yield
					= debug(params) if Rails.env.development?