!!!
%html
	%head
		%title= "Homicide Life on the Street | #{@title}"
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body{class: [controller.controller_name]}
		%div{id: "banner"}
			= image_tag("sign.jpg")
			%h1 Homicide Life on the Street
		%div{id: "columns" }
			%div{id: "side" }
				%ul
					%li= link_to "Home", root_path
					%li= link_to "Contact", root_path
					%li= link_to "Seasons", seasons_path
			%div{id: "main" }
				= yield